<!DOCTYPE html>
<html ng-app="app">
    <head lang="en">
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    </head>
    <body ng-controller="mainCtrlQuestionDirective" class="container" style="padding-top: 30px">
        <h1>Questions</h1>
        <div>
            {{baseLocation}}
            <my-question q="Where is the rebel base?">
                <input type="text" ng-model="baseLocation" />
            </my-question>
            <my-question q="Are you my brother?">
                <input type="radio" ng-value="true" ng-model="answers.brother" /> Yes
                <input type="radio" ng-value="false" ng-model="answers.brother" /> No
            </my-question>
            <my-question q="Are these the droids I'm looking for?">
                <button class="btn btn-lg btn-primary">No</button>
                <button class="btn btn-xs btn-default">Yes</button>
            </my-question>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js"></script>-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>-->
        <script src="app/app.js"></script>
        <script src="app/js/questionDirective.js"></script>
    </body>
</html>
