<user-panel name="{{person.name}}" level="person.level" collapsed="{{initialCollapsed}}">
    <address></address>
    <h4>Friends: </h4>
    <ul>
        <li ng-repeat="friend in person.friends">
            {{friend}}
        <remove-friend method="removeFriend(friend)"></remove-friend>
        </li>
    </ul>

    <div ng-show="person.rank">
        Rank: {{person.rank}}
    </div>

    <button class="btn btn-success" ng-hide="person.rank" ng-click="knightme(person)">Knight Me</button>
</user-panel>