<div class="panel panel-primary">
    <div class="panel-heading" ng-click="collapse()">
        <span state-display="user.level user-ok user-warning user-problem user-error">{{user.name}}</span>
    </div>
    <div class="panel-body" ng-hide="collapsed" state-display="user.level white yellow orange red">
        <address></address>
        <h4>Friends: </h4>
        <ul>
            <li ng-repeat="friend in user.friends">
                {{friend}}
                <remove-friend method="removeFriend(friend)"></remove-friend>
            </li>
        </ul>

        <div ng-show="user.rank">
            Rank: {{user.rank}}
        </div>

        <button class="btn btn-success" ng-hide="user.rank" ng-click="knightme(user)">Knight Me</button>
        <button class="btn btn-info" ng-click="nextState()">Next State</button>
    </div>
</div>